@model eKirana.ViewModels.StockQuantityVms.StockQuantityIndexVm
<div class="container-fluid mt-2">
    <div class="card shadow-lg">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <h4 class="card-title ">Stock Quantity History</h4>

                @* <a href="/Sale/Add" class="btn btn-success "><span class="bi bi-file-plus"></span>Sale</a> *@
            </div>
        </div>


        <div class="card-body">
            <div style="border-top: 4px solid;" class="mb-2 border-success">
            </div>
            <div class="row mb-2">
                <form action="" class="d-flex align-items-center">
                    <select asp-for="ProductId" class="form-control me-sm-2" asp-items="@Model.ProductSelectList()">
                        <option value="">-- SELECT PRODUCT --</option>
                    </select>
                    <input class="form-control me-sm-2" type="Date" asp-for="FromDate"
                        placeholder="From Date" autocomplete="off">
                    <input class="form-control me-sm-2" type="Date" asp-for="ToDate" placeholder="To Date"
                        autocomplete="off">
                        <select asp-for="Remarks" class="form-control me-sm-2" asp-items="@Model.StockQuantityRemarksList()">
                        <option value="">-- SELECT REMARKS --</option>
                    </select>
                    <select asp-for="AdminId" class="form-control me-sm-2" asp-items="@Model.AdminSelectList()">
                        <option value="">-- SELECT ADMIN --</option>
                    </select>
                    <button class="btn btn-success"><i class="bi bi-search"></i></button>
                </form>
            </div>

            <div class="table-responsive">
                <table class="table table-hover table-sm border-1 table-striped">
                    <thead class="table-success text-center">
                        <tr>
                            <th scope="col" width="80px">SN</th>
                            <th scope="col">Product</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Admin</th>
                            <th scope="col">On Date</th>
                            <th scope="col">Remarks</th>
                            @* <th scope="col" class="text-end"></th> *@
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-light">
                            @{
                                var sn = 1;
                                foreach (var stockQuantityInfo in Model.StockQuantityInfoVms)
                                {
                                <tr class="table-light text-center">
                                    <th scope="row">
                                            @(sn++)
                                    </th>

                                    <td style="text-align: center;
                                                                            display:flex; justify-content:start;
                                                                            align-items: center; flex-direction: column">
                                        <img style="height: 12vh;
                                                                                                      width: 2vw;"
                                            class="w-50" alt="description" src="/Uploads/Photos/@stockQuantityInfo.ProductPhoto" />@stockQuantityInfo.ProductName
                                    </td>
                                    <td>
                                            @stockQuantityInfo.QuantityMovement
                                    </td>
                                    <td>
                                        @stockQuantityInfo.AdminName
                                    </td>
                                    <td>
                                            @stockQuantityInfo.On_Date
                                    </td>


                                    <td>
                                            @stockQuantityInfo.Remarks
                                    </td>
                                    @* <td class="text-end">
                                        <a asp-action="Index" asp-controller="SaleDetail" asp-route-SaleId="@saleInfo.SaleId"
                                            class="btn btn-primary btn-md"><i class="bi bi-eye">Details</i>
                                        </a>
                                        <a asp-action="Edit" asp-route-id="@saleInfo.SaleId" class="btn btn-primary btn-md"><i
                                                class="bi bi-pencil-square"></i>
                                        </a>
                                        <form asp-action="Delete" asp-route-id="@saleInfo.SaleId" class="d-inline">
                                            <button type="submit" class="btn btn-danger btn-md"
                                                onclick="return confirm('Do you really want to delete?')"><i
                                                    class="bi bi-trash"></i></button>
                                        </form>

                                    </td> *@
                                </tr>
                                }
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>
