@model eKirana.ViewModels.SetUp.MemberShipVms.MemberShipIndexVm
<div class="container-fluid mt-2">
    <div class="card shadow-lg">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <h4 class="card-title ">List of MemberShip</h4>

                <a href="/MemberShip/Add" class="btn btn-success  "><span class="bi bi-file-plus"></span> Add
                    MemberShip</a>
            </div>
        </div>


        <div class="card-body">
            <div style="border-top: 4px solid;" class="mb-2 border-success">
            </div>
            <div class="row mb-2">
                <form action="" class="d-flex align-items-center">
                    <input class="form-control me-sm-2" type="search" asp-for="SearchString" placeholder="Search"
                        autocomplete="off">
                    <input class="form-control me-sm-2" type="search" asp-for="SearchNumber"
                        placeholder="Search By Phone" autocomplete="off">
                    <select class="form-control me-sm-2" asp-for="SearchMemberShipStatus"
                        asp-items="@Model.MemberShipStatusSelectList()">
                        <option value="">---MEMBERSHIP STATUS---</option>
                    </select>
                    <button class="btn btn-success"><i class="bi bi-search"></i></button>
                </form>
            </div>

            <div class="table-responsive">
                <table class="table table-hover table-sm border-1 table-striped">
                    <thead class="table-success">
                        <tr>
                            <th scope="col" width="80px">SN</th>
                            <th scope="col">Member</th>
                            <th scope="col">Address</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Email</th>
                            <th scope="col">Status</th>
                            <th scope="col">Registered On</th>
                            <th scope="col">Last Transaction</th>
                            <th scope="col" class="text-end"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-light">
                            @{
                                var sn = 1;
                                foreach (var memberShip in Model.MemberShipInfoVms)
                                {
                                <tr class="table-light text-center">
                                    <th scope="row">
                                            @(sn++)
                                    </th>
                                    <td>
                                            @memberShip.Name
                                    </td>
                                    <td>
                                            @memberShip.Address
                                    </td>
                                    <td>
                                            @memberShip.Phone
                                    </td>
                                    <td>
                                            @memberShip.Email
                                    </td>
                                    <td>
                                            @memberShip.MemberShipStatus
                                    </td>

                                    <td>
                                            @memberShip.RegisteredOn.ToString("yyyy-MM-dd")
                                    </td>
                                    <td>
                                            @memberShip.LastTransaction
                                    </td>
                                    <td class="text-end">
                                        <a asp-action="Edit" asp-route-MemberShipId="@memberShip.MemberShipId"
                                            class="btn btn-primary btn-md"><i class="bi bi-pencil-square"></i>
                                        </a>
                                        <form asp-action="Delete" asp-route-MemberShipId="@memberShip.MemberShipId"
                                            class="d-inline">
                                            <button type="submit" class="btn btn-danger btn-md"
                                                onclick="return confirm('Do you really want to delete?')"><i
                                                    class="bi bi-trash"></i></button>
                                        </form>

                                    </td>
                                </tr>
                                }
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>