@model eKirana.ViewModels.ProductVms.ProductIndexVm
<div class="container-fluid mt-2">
    <div class="card shadow-lg">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <h4 class="card-title ">List of Product</h4>

                <a href="/Product/Add" class="btn btn-success "><span class="bi bi-file-plus"></span> Add
                    Product</a>
            </div>
        </div>


        <div class="card-body">
            <div style="border-top: 4px solid;" class="mb-2 border-success">
            </div>
            <div class="row mb-2">
                <form action="" class="d-flex align-items-center">
                    <input class="form-control me-sm-2" type="search" asp-for="Search" placeholder="Search"
                        autocomplete="off">        
                        <select asp-for="BrandId" class="form-control me-sm-2" asp-items="@Model.BrandSelectList()">
                            <option value="">-- SELECT A BRAND --</option>
                        </select>
                    <select asp-for="CategoryId" class="form-control me-sm-2" asp-items="@Model.CategorySelectList()">
                        <option value="">-- SELECT A CATEGORY --</option>
                    </select>
                    <select asp-for="ProductVATorNOT" class="form-control me-sm-2" asp-items="@Model.ProductVATorNOTSelectList()">
                        <option value="">-- VAT or NOT --</option>
                    </select>
                    <button class="btn btn-success"><i class="bi bi-search"></i></button>
                </form>
            </div>

            <div class="table-responsive">
                <table class="table table-hover table-sm border-1 table-striped">
                    <thead class="table-success text-center">
                        <tr>
                            <th scope="col" width="80px">SN</th>
                            <th scope="col">Name</th>
                            <th scope="col">Brand Name</th>

                            <th scope="col">Type</th>
                            @* <th scope="col">Stock Quantity</th>
                            <th scope="col">Unit</th> *@
                            <th scope="col">Category</th>
                            @* <th scope="col">Purchase Rate</th> *@
                            <th scope="col" class="text-end"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-light">
                            @{
                                var sn = 1;
                                foreach (var product in Model.ProductInfoVms)
                                {
                                <tr class="table-light text-center">
                                    <th scope="row">
                                            @(sn++)
                                    </th>
                                    <td style="text-align: center;
                                                                            display:flex; justify-content:start;
                                                                            align-items: center; flex-direction: column">
                                        <img style="height: 12vh;
                                                                                                      width: 2vw;"
                                            class="w-50" alt="description" src="/Uploads/Photos/@product.Photo" />@product.Name

                                    </td>
<td>
                            @product.BrandName
                            </td>
                                        <td>
                            @product.ProductVATorNOT
                            </td>
                                    @* <td>
                                            @product.Stock_Quantity
                                    </td>
                                    <td>
                                            @product.Unit?.Name
                                    </td> *@
                                    <td>
                                            @product.Category?.Item
                                    </td>
                                    @* <td>
                                            @product.PurchaseRateAmt
                                    </td> *@
                                    <td class="text-end">
                                        <a asp-controller="ProductQuantityUnitRate" asp-action="Index"  asp-route-ProductId="@product.ProductId" class="btn btn-primary btn-md"><i class="bi bi-eye">Quantity Rate</i>
                                        </a>
                                        <a asp-action="Edit" asp-route-id="@product.ProductId" class="btn btn-primary btn-md"><i
                                                class="bi bi-pencil-square"></i>
                                        </a>
                                        <form asp-action="Delete" asp-route-id="@product.ProductId" class="d-inline">
                                            <button type="submit" class="btn btn-danger btn-md"
                                                onclick="return confirm('Do you really want to delete?')"><i
                                                    class="bi bi-trash"></i></button>
                                        </form>

                                    </td>
                                </tr>
                                }
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>
@* from multiple models
<td>
@foreach (var rate in Model.ProductPuchaseRates.Where(x => x.ProductId ==
product.Id).ToList())
{
@rate.Amount
}

</td> *@