@model eKirana.ViewModels.SaleVms.SaleIndexVm
<div class="container-fluid mt-2">
    <div class="card shadow-lg">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <h4 class="card-title ">List of Sales</h4>

                <a href="/Sale/Add" class="btn btn-success "><span class="bi bi-file-plus"></span>Sale</a>
            </div>
        </div>


        <div class="card-body">
            <div style="border-top: 4px solid;" class="mb-2 border-success">
            </div>
            <div class="row mb-2">
                <form action="" class="d-flex align-items-center">
                    <input class="form-control me-sm-2" type="search" asp-for="SearchCustomer" placeholder="Customer"
                        autocomplete="off">
                    <select class="form-control me-sm-2" asp-for="CustomerType"
                        asp-items="@Model.CustomerTypeSelectList()">
                        <option value="">-CUSTOMER TYPE-</option>
                    </select>
                    <input class="form-control me-sm-2" type="Date" asp-for="FromSaleDate"
                        placeholder="From Purchase Date" autocomplete="off">
                    <input class="form-control me-sm-2" type="Date" asp-for="ToSaleDate" placeholder="To Purchase Date"
                        autocomplete="off">
                    <select asp-for="SaleById" class="form-control" asp-items="@Model.AdminSelectList()">
                        <option value="">-- SELECT ADMIN --</option>
                    </select>
                    <button class="btn btn-success"><i class="bi bi-search"></i></button>
                </form>
            </div>

            <div class="table-responsive">
                <table class="table table-hover table-sm border-1 table-striped">
                    <thead class="table-success text-center">
                        <tr>
                            <th scope="col" width="80px">SN</th>
                            <th scope="col">Customer</th>
                            <th scope="col">Address</th>
                            <th scope="col">Total Amount</th>
                            <th scope="col">Sale By</th>
                            <th scope="col">Sale Date</th>
                            <th scope="col" class="text-end"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-light">
                            @{
                                var sn = 1;
                                foreach (var saleInfo in Model.SaleInfoVms)
                                {
                                <tr class="table-light text-center">
                                    <th scope="row">
                                            @(sn++)
                                    </th>

                                    <td>
                                            @saleInfo.CustomerName
                                    </td>
                                    <td>
                                            @saleInfo.CustomerAddress
                                    </td>
                                    <td>
                                        <span>Rs.</span> @saleInfo.TotalAmount
                                    </td>
                                    <td>
                                            @saleInfo.SaleBy
                                    </td>


                                    <td>
                                            @saleInfo.SaleDate
                                    </td>
                                    <td class="text-end">
                                        <a asp-action="Index" asp-controller="SaleDetail" asp-route-SaleId="@saleInfo.SaleId"
                                            class="btn btn-primary btn-md"><i class="bi bi-eye">Details</i>
                                        </a>
                                        <a asp-action="Edit" asp-route-id="@saleInfo.SaleId" class="btn btn-primary btn-md"><i
                                                class="bi bi-pencil-square"></i>
                                        </a>
                                        <form asp-action="Delete" asp-route-id="@saleInfo.SaleId" class="d-inline">
                                            <button type="submit" class="btn btn-danger btn-md"
                                                onclick="return confirm('Do you really want to delete?')"><i
                                                    class="bi bi-trash"></i></button>
                                        </form>

                                    </td>
                                </tr>
                                }
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>
