@model eKirana.ViewModels.ProductQuantityUnitRateVms.IndexProductQuantityUnitRateVm
<div class="container-fluid mt-2">
    <div class="card shadow-lg">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <h4 class="card-title ">List of Product with Quantity, Unit and Rate</h4>

                <a href="/Product/Add" class="btn btn-success "><span class="bi bi-file-plus"></span> Add
                    Unit</a>
            </div>
        </div>


        <div class="card-body">
            <div style="border-top: 4px solid;" class="mb-2 border-success">
            </div>
            <div class="row mb-2">
                <form action="" class="d-flex align-items-center">
                    @* <input class="form-control me-sm-2" type="search" asp-for="Search" placeholder="Search"
                        autocomplete="off"> *@
                        @* <input class="form-control me-sm-2" type="number" asp-for="Min_Stock_Quantity" placeholder="Min-Quantity">
                        <input class="form-control me-sm-2" type="number" asp-for="Max_Stock_Quantity" placeholder="Max-Quantity" name="" id=""> *@

                        <select asp-for="UnitId" class="form-control" asp-items="@Model.UnitSelectList()">
                        <option value="">-- SELECT A UNIT --</option>
                    </select>
                    <button class="btn btn-success"><i class="bi bi-search"></i></button>
                </form>
            </div>

            <div class="table-responsive">
                <table class="table table-hover table-sm border-1 table-striped">
                    <thead class="table-success">
                        <tr>
                            <th scope="col" width="80px">SN</th>
                            <th scope="col">Product</th>
                            <th scope="col">Stock Quantity</th>
                            <th scope="col">Unit</th> 
                            <th scope="col">Purchase Rate</th> 
                            <th scope="col">Sales Rate</th> 
                            <th scope="col" class="text-end"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-light">
                            @{
                                var sn = 1;
                                foreach (var prdQUR in Model.InfoProductQuantityUnitRateVms)
                                {
                                <tr class="table-light text-center">
                                    <th scope="row">
                                            @(sn++)
                                    </th>
                                    <td style="text-align: center;
                                                                            display:flex; justify-content:start;
                                                                            align-items: center; flex-direction: column">
                                        <img style="height: 12vh;
                                                                                                      width: 2vw;"
                                            class="w-50" alt="description" src="/Uploads/Photos/@prdQUR.Product.Photo" />@prdQUR.Product.Name

                                    </td>

                                        
                                    <td>
                                            @prdQUR.Quanity
                                    </td>
                                    <td>
                                            @prdQUR.Unit?.Name
                                    </td>
                                    
                                    <td>
                                            @prdQUR.PurchaseRate
                                    </td>
                                    <td>
                                            @prdQUR.SaleRate
                                    </td>
                                    <td class="text-end">
                                        <a asp-action="Edit" asp-route-id="@prdQUR.Product.Id" class="btn btn-primary btn-md"><i
                                                class="bi bi-pencil-square"></i>
                                        </a>
                                        <form asp-action="Delete" asp-route-id="@prdQUR.Product.Id" class="d-inline">
                                            <button type="submit" class="btn btn-danger btn-md"
                                                onclick="return confirm('Do you really want to delete?')"><i
                                                    class="bi bi-trash"></i></button>
                                        </form>

                                    </td>
                                </tr>
                                }
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>
