@model eKirana.ViewModels.PurchaseVms.PurchaseIndexVm
<div class="container-fluid mt-2">
    <div class="card shadow-lg">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <h4 class="card-title ">List of Purchase</h4>

                <a href="/Purchase/Add" class="btn btn-success "><span class="bi bi-file-plus"></span>Purchase</a>
            </div>
        </div>


        <div class="card-body">
            <div style="border-top: 4px solid;" class="mb-2 border-success">
            </div>
            <div class="row mb-2">
                <form action="" class="d-flex align-items-center">
                    <select asp-for="SupplierId" class="form-control me-sm-2" asp-items="@Model.SupplierSelectList()">
                        <option value="">-- SELECT A SUPPLIER --</option>
                    </select>
                    <input class="form-control me-sm-2" type="Date" asp-for="FromPurchaseDate"
                        placeholder="From Purchase Date" autocomplete="off">
                    <input class="form-control me-sm-2" type="Date" asp-for="ToPurchaseDate"
                        placeholder="To Purchase Date" autocomplete="off">
                    <select asp-for="PurchaseById" class="form-control" asp-items="@Model.AdminSelectList()">
                        <option value="">-- SELECT AN ADMIN --</option>
                    </select>
                    <button class="btn btn-success"><i class="bi bi-search"></i></button>
                </form>
            </div>

            <div class="table-responsive">
                <table class="table table-hover table-sm border-1 table-striped">
                    <thead class="table-success">
                        <tr>
                            <th scope="col" width="80px">SN</th>
                            <th scope="col">Supplier</th>
                            <th scope="col">Total Amount</th>
                            <th scope="col">Purchase By</th>
                            <th scope="col">Purchase Date</th>


                            @* <th scope="col">Category</th>
                            <th scope="col">Purchase Rate</th> *@
                            <th scope="col" class="text-end"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-light">
                            @{
                                var sn = 1;
                                foreach (var purchase in Model.Purchases)
                                {
                                <tr class="table-light text-center">
                                    <th scope="row">
                                            @(sn++)
                                    </th>

                                    <td>
                                            @purchase.Supplier.Name
                                    </td>
                                    <td>
                                        <span>Rs.</span> @purchase.TotalPaidAmount
                                    </td>
                                    <td>
                                            @purchase.Admin?.UserName
                                    </td>


                                    <td>
                                            @purchase.PurchaseDate
                                    </td>
                                    <td class="text-end">
                                        <a asp-action="Index" asp-controller="PurchaseDetail"
                                            asp-route-PurchaseId="@purchase.Id" class="btn btn-primary btn-md"><i
                                                class="bi bi-pencil-square">Details</i>
                                        </a>
                                        <a asp-action="Edit" asp-route-id="@purchase.Id" class="btn btn-primary btn-md"><i
                                                class="bi bi-pencil-square"></i>
                                        </a>
                                        <form asp-action="Delete" asp-route-id="@purchase.Id" class="d-inline">
                                            <button type="submit" class="btn btn-danger btn-md"
                                                onclick="return confirm('Do you really want to delete?')"><i
                                                    class="bi bi-trash"></i></button>
                                        </form>

                                    </td>
                                </tr>
                                }
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>
